body {
  font-family: helvetica, arial, sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

header {
  width: 580px;
  height: 50px;
  margin: 0px 0px 0px -290px; /* 1/2 of width*/
  top: 0px;
  left: 50%;
  position: fixed;
  background-color: green;
}

#logo {
  width: 90px;
  height: 30px;
  float: left;
  margin: 10px;
  background-color: yellow;
  border-radius: 5px
}

#login-button, #login-pic, #add-profile-button {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#login-pic, #login-button {
  margin-right: 10px;
  margin-left: 5px;
}

#login-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#login-button {
  background-image: url("../img/fb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#add-profile-button {
  margin-right: 5px;
  margin-left: 0px;
  background-image: url("../img/add.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#add-modal {
  width: 386px;
  min-height: 386px;
  background-color: pink;
  border-radius: 5px;
}

#add-profile-title, #add-profile-error {
  width: 90%;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}

#add-profile-title h2 {
  font-weight: bold;
}

#add-profile-error {
  border: 3px solid;
}

.p0 {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.25);
  color: red;
}

.p1 {
  border-color: yellow;
}

.p2 {
  border-color: green;
  background-color: rgba(0, 255, 0, 0.25);
  color: green;
}

#add-modal form {
  /*Make it look good*/
  width: 75%;
  margin: 0px auto 100px auto;
}

#add-modal form input[name="name"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
}

#add-modal form input[name="url"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
  margin: 10px 0px;
}

#add-modal form input[name="description"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
  margin-bottom: 7px;
}

.tags {  
  float: left;
  margin: 3px;
  border: 1px solid orange;
  border-radius: 3px;
  background-color: black;
  color: orange;
}

.tags p {
  font-size: 50%;
  padding: 6px 5px 6px 0px;
  float: right;
}

.delete-tag {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: orange;
  float: left;
  z-index: 9999;
}

.btn {
  /*Make it look good*/
  font-size: 75%;
  color: #ffffff;
  background-color: #3498db;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  margin: 0px auto;
}

/*#add-modal form input[type="button"] {
}*/

#content {
  width: 580px;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0px 0px 0px -290px; /* 1/2 of width*/
  top: 60px;
  left: 50%;
  /*background-color: yellow;*/
}

.cards {
  width: 100%;
  height: 400px;
  margin: 0px 0px 10px 0px;
  background-color: pink;
}

#padding {
  width: 100%;
  height: 50px; /*height of header to offset */
  margin: 0px 0px 10px 0px;
  background-color: green;
}


