body {
  font-family: helvetica, arial, sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

header {
  width: 580px;
  height: 50px;
  margin: 0px 0px 0px -290px; /* 1/2 of width*/
  top: 0px;
  left: 50%;
  position: fixed;
  background-color: green;
}

#logo {
  width: 90px;
  height: 30px;
  float: left;
  margin: 10px;
  background-color: yellow;
  border-radius: 5px
}

#login-button, #login-pic, #add-profile-button {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#login-pic, #login-button {
  margin-right: 10px;
  margin-left: 5px;
}

#login-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#login-button {
  background-image: url("../img/fb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#add-profile-button {
  margin-right: 5px;
  margin-left: 0px;
  background-image: url("../img/add.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#add-modal {
  width: 386px;
  /*min-height: 30px;*/
  background-color: pink;
  border-radius: 5px;
  padding-bottom: 15px;
  /*position: relative;*/
}

#add-profile-title {
  width: 90%;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}

#add-profile-error {
  width: 90%;
  height: 46px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}

#add-profile-title h2 {
  font-weight: bold;
}

#add-profile-error {
  border: 2px solid;
}

.p0 {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.25);
  color: red;
}

.p1 {
  border-color: yellow;
  background-color: lightyellow;
  color: black;
}

.p2 {
  border-color: green;
  background-color: rgba(0, 255, 0, 0.25);
  color: green;
}

textarea:focus, input:focus{
    outline: 0;
}

#add-modal form {
  /*Make it look good*/
  width: 75%;
  margin: 0px auto;
}

#add-modal form input[name="name"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
}

#add-modal form input[name="url"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
  margin: 10px 0px;
}

#add-modal form input[name="description"] {
  /*Make it look good*/
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

#all-tags {
  width: 75%;
  min-height: 20px;
  margin: 0px auto;
  margin-bottom: 10px;
}

.tags {  
  float: left;
  margin: 3px;
  border: 1px solid orange;
  border-radius: 3px;
  background-color: black;
  color: orange;
}

.tags p {
  font-size: 50%;
  line-height: 20px;
  margin-right: 5px;
  /*padding: 6px 5px 6px 0px;*/
  float: right;
}

.delete-tag {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: orange;
  float: left;
  
  /*background-image: url("../img/x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

#btn-holder {
  clear: both;
  width: 213px;
  height: 32px;
  margin: 30px auto 0px auto;
}
.btn {
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;

  font-size: 75%;

  border: 1px solid black;
  border-radius: 3px;
}

.submit {
  width: 133px;
  margin: 0px 5px 0px 0px;
  color: #ffffff;
  background-color: #3498db;
}

.cancle {
  width: 66px;
  margin: 0px 0px 0px 5px;
  color: #ffffff;
  background-color: red;
}

#content {
  width: 580px;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0px 0px 0px -290px; /* 1/2 of width*/
  top: 60px;
  left: 50%;
  /*background-color: yellow;*/
}

.cards {
  width: 100%;
  height: 400px;
  margin: 0px 0px 10px 0px;
  background-color: pink;
}

.cards .liked-tag{
  color: #fff;
}
.cards .not-liked-tag, .not-logged-in{
  color: blue;
}

#padding {
  width: 100%;
  height: 50px; /*height of header to offset */
  margin: 0px 0px 10px 0px;
  background-color: green;
}


